.container {
  width: 100%;
  box-sizing: border-box;
  margin: auto 0px;
}

.character-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px;
  justify-content: center;
  margin: 0px;
}

@media only screen and (max-width: 1024px) {
  .character-list-container {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .character-list-container {
    padding: 0px;
  }
}

@media screen and (max-width: 600px) {
  .character-list-container {
    padding: 0px;
  }
}

@media screen and (max-width: 375px) {
  .character-list-container {
    padding: 0px;
  }
}
